<div class="site-blocks-cover" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto order-md-2 align-self-start">
          <div class="site-block-cover-content">
          <h2 class="sub-title">{{section.settings.banner_small_text}}</h2>
          <h1>{{section.settings.banner_title}}</h1>
          <p><a href="{{section.settings.banner_btn_url }}" class="btn btn-black rounded-0">{{section.settings.banner_btn_text}}</a></p>
          </div>
        </div>
        <div class="col-md-6 order-1 align-self-end">
          <img src="{{section.settings.banner_img | img_url: 'master' }}" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
</div>
