<div class="site-wrap">
  <div class="container">
    <div class="row">
      <div class="title-section text-center mb-5 col-12">
        <h2 class="text-uppercase">Our Collections</h2>
      </div>
    </div> 
  <div class="container">
    <div class="row">
{% for collection in collections %}
<div class="col-lg-4">
  <div class="product-item sm-height new-class bg-gray mb-3">
    <a href="{{collection.url}}" class="product-category">{{collection.title}} <span>{{collection.products_count}}items</span></a>
    <img src="{{collection.image | img_url: 'master' }}" alt="Image" class="img-fluid">      
  </div>  
  <div class="text-center">
    <a href="{{collection.url}}" class="btn btn-primary d-inline-block shop-btn">Shop Now</a>
  </div>
</div> 
{% endfor %}
</div>
</div>
</div>
{% section 'product-slider' %}